# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# MLflow artifacts
mlruns/

# Data and models
models/

# IDE and OS files
*.log
.DS_Store
Thumbs.db

# Artifacts
model_features.json
model_features.pkl
transformer_load_model.json
transformer_load_model.pkl
transformer_load_model_prophet.pkl