# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# MLflow artifacts
mlruns/

# Data and models
models/

# IDE and OS files
*.log
.DS_Store
Thumbs.db
model_features.json
model_features.pkl
predicted_kwh_trend.png
predicted_kwh.csv
transformer_load_model.json
transformer_load_model.pkl
